<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Get Our Services</span>
                <h2 class="cs-title">Ready To Grow Your Business? Let’s Get Started.</h2>
            </div>
            <div class="cs-button-box">
                <a href="/contact" class="cs-button-solid">Get Started</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/cta-3-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/cta-3.webp">
        <img loading="lazy" decoding="async" src="/assets/images/cta-3.webp" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                