<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<section id="footer-1391">
    <div class="cs-container">
        <div class="cs-top">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/svgs/mainlogo.svg" alt="logo" width="209" height="40">
            </a>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a href="/index" class="cs-link">Home</a>
                </li>
                <li class="cs-li">
                    <a href="/about" class="cs-link">About</a>
                </li>
                <li class="cs-li">
                    <a href="/web-design" class="cs-link">Services</a>
                </li>
                <li class="cs-li">
                    <a href="/contact" class="cs-link">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-bottom">
            <span class="cs-copyright">
                © Copyright 2024 - <a href="" class="cs-copyright-link">Great Lakes Web Design</a>
            </span>
        </div>
    </div>
</section>
                                