/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1482 {
    /* 200px - 400px - leaving extra space for the navigation */
    padding: clamp(9.375rem, 29.95vw, 25rem) 1rem 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  #hero-1482:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.5;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #hero-1482 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* 48px - 240px */
    gap: clamp(3rem, 14vw, 15rem);
    position: relative;
  }
  #hero-1482 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 38.5rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    position: relative;
    z-index: 10;
  }
  #hero-1482 .cs-topper {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.6vw, 1rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
  }
  #hero-1482 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 20ch;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #hero-1482 .cs-text {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.3vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    /* 32px - 40px */
    margin: 0 0 clamp(2rem, 4vw, 2.5rem) 0;
    color: #1A1A1A;
  }
  #hero-1482 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #hero-1482 .cs-button-solid:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #000000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1482 .cs-button-solid:hover {
    color: var(--primary);
  }
  #hero-1482 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-1482 .cs-card-group {
    width: 100%;
    margin: 0 0 -12.5rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 8px - 20px */
    gap: clamp(0.5rem, 2vw, 1.25rem);
    position: relative;
    z-index: 50;
  }
  #hero-1482 .cs-item {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    /* 24px - 80px - top and bottom*/
    /* 12px - 60px - Left and right*/
    padding: clamp(1.5rem, 8vw, 5rem) clamp(0.75rem, 1vw, 3.75rem);
    border: 1px solid #e8e8e8;
    background-color: #fff;
    /* 24px - 60px */
    border-radius: clamp(1.5rem, 4vw, 3.75rem);
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(1rem, 1.7vw, 1.5rem);
    position: relative;
    overflow: hidden;
    transition: border-color 0.3s, background-color 0.3s;
  }
  #hero-1482 .cs-item:hover {
    border-color: var(--primary);
  }
  #hero-1482 .cs-item:hover .cs-icon {
    filter: none;
  }
  #hero-1482 .cs-item:hover .cs-graphic {
    filter: grayscale(0);
  }
  #hero-1482 .cs-icon {
    width: auto;
    /* 48px - 60px */
    height: clamp(3rem, 5vw, 3.75rem);
    /* greyscale gets removed on hover, revealing the color of the icon. customise your icons to match your color scheme and the hover effect will work automatically */
    filter: grayscale(1);
    transition: filter 0.3s;
  }
  #hero-1482 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    max-width: 11.5625rem;
    margin: 0 auto;
    color: var(--headerColor);
  }
  #hero-1482 .cs-graphics-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1482 .cs-graphic {
    min-width: 19.375rem;
    width: 100%;
    height: auto;
    filter: grayscale(1);
    display: none;
    position: absolute;
    /* changes to 0 at large desktop */
    bottom: -2.1875rem;
    left: 0;
    transition: filter 0.3s;
  }
  #hero-1482 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1482 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* makes the top of the image start at the top of the parent */
    object-position: top;
  }
  #hero-1482 .cs-hide {
    display: none;
  }
  #hero-1482 .cs-blob1 {
    /* 166px - 378px */
    width: clamp(10.375rem, 18vw, 23.625rem);
    height: auto;
    left: -0.625rem;
    bottom: 2rem;
    transform: rotate(-8deg);
  }
  #hero-1482 .cs-blob2 {
    /* 170px - 318px */
    width: clamp(10.625rem, 23vw, 19.875rem);
    height: auto;
    right: -3.5rem;
    bottom: -0.625rem;
    transform: rotate(-8deg);
  }
  #hero-1482 .cs-leaf {
    /* 115px - 143px */
    width: clamp(7.1875rem, 14vw, 8.9375rem);
    height: auto;
    right: -3.5rem;
    /* 200px - 340px */
    top: clamp(12.5rem, 13vw, 21.25rem);
    transform: rotate(-63deg);
  }
  #hero-1482 .cs-curve {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1482:before {
    background: linear-gradient(89deg, rgba(255, 243, 236, 0.9) 1.46%, rgba(236, 255, 251, 0) 78.47%);
    opacity: 0.6;
  }
  #hero-1482 .cs-container {
    align-items: flex-start;
  }
  #hero-1482 .cs-content {
    width: 67%;
    text-align: left;
    align-items: flex-start;
  }
  #hero-1482 .cs-card-group {
    /* 72px - 160px */
    margin-bottom: calc(clamp(4.5rem, 14vw, 10rem)*-1);
  }
  #hero-1482 .cs-item {
    grid-column: span 3;
  }
  #hero-1482 .cs-hide {
    display: block;
    position: absolute;
    z-index: 10;
  }
  #hero-1482 .cs-flower {
    display: none;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1482 .cs-graphic {
    display: block;
  }
  #hero-1482 .cs-flower {
    display: block;
    left: -3.5rem;
    /* 150px - 280px */
    top: clamp(9.375rem, 10vw, 17.5rem);
  }
}
/* Larger Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1482 .cs-graphic {
    bottom: 0;
  }
}
/* Largest Desktop Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  #hero-1482 .cs-background {
    background: url("/assets/images/indyscape.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #hero-1482 .cs-background img {
    display: none;
  }
  #hero-1482 .cs-flower {
    left: auto;
    right: 50%;
    margin-right: 43.8125rem;
  }
  #hero-1482 .cs-blob1 {
    left: auto;
    right: 50%;
    margin-right: 38.875rem;
  }
  #hero-1482 .cs-blob2 {
    right: auto;
    left: 50%;
    margin-left: 42.875rem;
  }
  #hero-1482 .cs-leaf {
    right: auto;
    left: 50%;
    margin-left: 46.6875rem;
  }
}
/* Dark Mode - 360px */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-1482:before {
    background-color: var(--dark);
    opacity: 0.94;
  }
  body.dark-mode #hero-1482 .cs-title,
  body.dark-mode #hero-1482 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #hero-1482 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #hero-1482 .cs-curve path {
    fill: var(--dark);
  }
}
/* Dark Mode - 768px */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-1482 {
    background-color: var(--dark);
  }
  body.dark-mode #hero-1482:before {
    background: linear-gradient(to right, #000000 0%, #000000 15%, #000000 23%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.8;
  }
  body.dark-mode #hero-1482 .cs-background {
    opacity: 0.2;
  }
}
