/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1107 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 80px */
            gap: clamp(3rem, 6vw, 5rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            margin: 0 0 (32/16rem) 0;
        }

        .cs-form {
            width: 100%;
            /* 24px - 48px top and bottom */
            /* 20px - 32px left and right */
            padding: clamp(1.5rem, 3vw, 3rem) clamp(1.25rem, 3.18vw, 2rem);
            /* prevents flexbox from affecting height and width */
            box-sizing: border-box;
            border-radius: (15/16rem);
            background-color: #f7f8f8;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            width: 100%;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            height: (56/16rem);
            padding: 0;
            padding-left: (24/16rem);
            color: var(--headerColor);
            background-color: #fff;
            border-radius: (15/16rem);
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: #7d799c;
                opacity: 0.6;
            }
        }

        .cs-textarea {
            min-height: (120/16rem);
            padding-top: (24/16rem);
            margin-bottom: (12/16rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            border: none;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: '';
                position: absolute;
                display: block;
                border-radius: (30/16rem);
                height: 100%;
                width: 0%;
                background: #000000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            min-width: (250/16rem);
            border-radius: 0;
            border-radius: (30/16rem);
            &:hover {
                cursor: pointer;
            }
        }

        .cs-ul {
            width: auto;
            /* 40px - 92px, marign bottom and left are the same clamp values that the stripes box is absolutely positioned outside the cs-ul box */
            margin-bottom: clamp(2.5rem, 9vw, 5.75rem);
            /* 32px - 80px */
            margin-right: clamp(2rem, 9vw, 5rem);
            /* 40px - 100px top and bottom */
            /* 16px - 80px left and right */
            padding: clamp(2.5rem, 9.18vw, 6.25rem) clamp(1rem, 9.18vw, 5rem);
            box-sizing: border-box;
            border-radius: (20/16rem);
            background-color: #f7f7f7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 40px - 60px */
            gap: clamp(1.5rem, 6vw, 3.75rem);
            position: relative;

            &:before {
                /* stripes graphic */
                content: "";
                height: 100%;
                width: 100%;
                background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-contact.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;
                display: block;
                position: absolute;
                /* 40px - 92px */
                top: clamp(2.5rem, 9vw, 5.75rem);
                /* 32px - 80px */
                left: clamp(2rem, 9vw, 5rem);
                z-index: -1;
            }
        }

        .cs-li {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            /* 12px - 20px */
            gap: clamp(0.75rem, 2vw, 1.25rem);

            &:hover {
                .cs-icon-wrapper {
                    transform: scale(1.1);
                }
            }
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            color: #767676;
            display: block;
            position: relative;

            &:hover {
                text-decoration: underline;
            }
        }

        .cs-icon-wrapper {
            /* 44px - 80px */
            width: clamp(2.75rem, 8.3vw, 5rem);
            height: clamp(2.75rem, 8.3vw, 5rem);
            margin: 0;
            border-radius: 50%;
            border: 1px solid #bababa;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            /* 20px - 40px */
            width: clamp(1.25rem, 3vw, 2.5rem);
            height: auto;
            display: block;
        }

        .cs-picture {
            width: 100%;
            border-radius: (8/16rem);
            /* clips image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* width divided height */
            aspect-ratio: 288/200;
        }

        .cs-img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1107 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-content {
            max-width: (542/16rem);
        }

        .cs-ul {
            max-width: (513/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-1107 {
            .cs-title,
            .cs-text,
            .cs-header,
            .cs-link {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                opacity: 0.8;
            }

            .cs-form {
                background-color: var(--medium);
            }

            .cs-label {
                color: var(--bodyTextColorWhite);
            }

            .cs-input {
                background-color: rgba(255, 255, 255, 0.1);
                color: var(--bodyTextColorWhite);
                &::placeholder {
                    color: #fff;
                    opacity: 0.5;
                }
            }

            .cs-ul {
                background-color: var(--medium);
                &:before {
                    opacity: 0.3;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1670 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #ffffff;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            border-radius: (15/16rem);
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: auto;
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1670 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1670 {
            background-color: var(--medium);
            .cs-title,
            .cs-review,
            .cs-name {
                color: #ffffff;
            }

            .cs-item {
                background-color: var(--dark);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.7;
            }

            .cs-quote {
                opacity: 0.2;
            }
        }
    }
}

                                                                