---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!--
    NOTES:

    We are using negative margin on the cs-card-group to create the overlapping effect. This pulls the section below it toward it which makes it overlap whatever section is below it. So we need to add extra padding top the the section below it to account for this. Here's the values you need to add to the section below this one to make them work together:

    On mobile:
    LESS: padding-top: (260/16rem)
    SCSS: padding-top: calc(260 / 16 * 1rem)
    CSS: 16.25rem

    On tablet (768px):
    /* 132px - 260px */
    padding-top: clamp(8.25rem, 25vw, 16.25rem);
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1482">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Website Specialists</span>
            <h1 class="cs-title">Small Business Web Design
                + Development</h1>
            <p class="cs-text">
                No page builders or WordPress - We offer 100% hand-coded websites with superior results starting at $175/mo.
            </p>
            <a href="/contact" class="cs-button-solid">Get Started</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" src="assets/svgs/phone.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Mobile-First Design</h3>
                <img class="cs-graphic" src="assets/svgs/Vector-4.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="assets/svgs/day-care-shield.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Security and Safety</h3>
                <img class="cs-graphic" src="assets/svgs/Vector-4.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="assets/svgs/day-care-thumb.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Built for Speed</h3>
                <img class="cs-graphic" src="assets/svgs/Vector-4.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
            <li class="cs-item">
                <img class="cs-icon" src="assets/svgs/support-agent.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                <h3 class="cs-h3">Unlimited Support</h3>
                <img class="cs-graphic" src="assets/svgs/Vector-4.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
            </li>
        </ul>
    </div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/indyscape.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/indyscape.jpg">
        <img decoding="async" src="/assets/images/indyscape.jpg" alt="abstract background" width="2250" height="1500" aria-hidden="true">
    </picture>
    <div class="cs-graphics-wrapper">
        <!--Flower-->
        <img class="cs-flower cs-hide" decoding="async" src="assets/svgs/flower.svg" alt="abstract flower" width="139" height="144" aria-hidden="true">
        <!--Yellow Blob-->
        <img class="cs-blob1 cs-hide" decoding="async" src="assets/svgs/yellow-shape.svg" alt="abstract shape" width="378" height="268" aria-hidden="true">
        <!--Red Blob-->
        <img class="cs-blob2 cs-hide" decoding="async" src="assets/svgs/orange-blob.svg" alt="abstract shap" width="318" height="221" aria-hidden="true">
        <!--Leaf-->
        <img class="cs-leaf cs-hide" decoding="async" src="assets/svgs/abstract-leaf.svg" alt="abstract leaf" width="318" height="221" aria-hidden="true">
    </div>
    <!--SVG Curve-->
    <svg class="cs-curve" width="1920" height="136" viewBox="0 0 1920 136" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#fff"/>
    </svg>
</section>
                                
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">We’re Commited to Deliver Top High Quality Services</h2>
            <p class="cs-text">We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.</p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Full Development</h3>
                <p class="cs-item-text">Bespoke websites crafted from concept to launch, tailored to your brand and objectives.</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="assets/svgs/star.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">VIP Treatment</h3>
                <p class="cs-item-text">Relax as we handle technical aspects, providing top-notch service at every step.</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-alert.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Mobile Responsive</h3>
                <p class="cs-item-text">Ensure stunning, flawless site performance across all devices for maximum  engagement.</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-meter.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">SEO Optimization</h3>
                <p class="cs-item-text">Boost visibility and attract visitors with proven SEO strategies to drive business growth.</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="assets/svgs/bolt.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Lightning Speed</h3>
                <p class="cs-item-text">Keep visitors engaged with fast-loading pages, ensuring an exceptional user experience.</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="assets/svgs/savings.svg" alt="icon" width="48" height="48">
                </picture>
                <h3 class="cs-h3">Affordable Rate</h3>
                <p class="cs-item-text">Get professional quality without breaking the bank with our budget-friendly website plans.</p>
                <a href="/" class="cs-link">
                    <img class="cs-arrow" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                        alt="arrow" width="413" height="374" aria-hidden="true">
                </a>
            </li>
        </ul>
    </div>
</section>
  
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">More than a site</span>
            <h2 class="cs-title">Our goal is to build you the best website 
                in your local market. </h2>
            <p class="cs-text">
                We're dedicated to empowering small businesses. With creativity and smart strategies, we build sites that make an impact online
            </p>
            <a href="/about" class="cs-button-solid">Read More</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/ctabanner.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/ctabanner.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/ctabanner.jpg" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
    
</section>
   
<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-1371">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">$0 Down, $175 Per Month, 6 Month Minimum Contract</h2>
            <p class="cs-text">
                $0 down for a standard 5 page small business website. If you need more than that then we have to do custom pricing based on the scope of work, number of additional pages, and time involved.
            </p>
            <p class="cs-text">
                <strong>You own your domain, content, listing, and profiles. Cancel anytime with no fees or hassle.</strong>
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/why1.svg" alt="icon" width="24" height="24">
                    Hosting Fees Included
                </h3>
                <p class="cs-item-text">
                    All-inclusive hosting fees, ensuring seamless website performance without extra costs.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/why2.svg" alt="icon" width="24" height="24">
                    24/7 Customer Service
                </h3>
                <p class="cs-item-text">
                    Access round-the-clock customer service for prompt assistance, ensuring your peace of mind at all times.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/why3.svg" alt="icon" width="24" height="24">
                    Perfect Google Speed
                </h3>
                <p class="cs-item-text">
                    Achieve optimal Google speed scores, enhancing your site's performance and search ranking.
                </p>
            </li>
            <li class="cs-item-picture">
                <picture class="cs-picture">
                    <!-- Mobile Image -->
                    <source media="(max-width: 600px)" srcset="/assets/images/computerglasses.jpg">
                    <!-- Tablet and above Image -->
                    <source media="(min-width: 601px)" srcset="/assets/images/computerglasses.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/computerglasses.jpg" alt="people" width="590" height="418">
                </picture>
                
                
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/why4.svg" alt="icon" width="24" height="24">
                    Unlimited Edits
                </h3>
                <p class="cs-item-text">
                    Enjoy unlimited edits for continuous website refinement and adaptation to your evolving needs.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/why5.svg" alt="icon" width="24" height="24">
                    Web Design & Develop
                </h3>
                <p class="cs-item-text">
                    Expert web design and development services tailored to elevate your online presence effectively.
                </p>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">
                    <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="assets/svgs/why6.svg" alt="icon" width="24" height="24">
                    Google Analytics
                </h3>
                <p class="cs-item-text">
                    Harness the power of Google Analytics for insightful data-driven decisions and improved website performance.
                </p>
            </li>
        </ul>
        <a href="/about" class="cs-button-solid">Discover More</a>
    </div>
    <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
    <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
</section>
          
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Get in Touch</span>
            <h2 class="cs-title">Get It Done With Us Today</h2>
            <p class="cs-text">
                With all the competition out there, the quality of your website reflects the quality of your services. It can be the difference between a customer reaching out to you, or moving on to a competitor. With Great Lakes, you can be rest assured that your online presence is in good hands. Let's elevate your business together. Get it done with us today. </p>
            <a href="/contact" class="cs-button-solid">Get Started</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/secondbanner.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/secondbanner.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/secondbanner.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
    
</section>
                                
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Examples Of Our Work</h2>
            <p class="cs-text">
                We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/capture.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/capture.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/capture.jpg" alt="fancy house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lawn Pros</h3>
                            <span class="cs-desc">A complete Landscaping Website</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/agency-portfolio-2.png" alt="modern house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Matcha and Co</h3>
                            <span class="cs-desc">A Tea Brand E-commerce Website</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/stichsalon.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/stichsalon.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/stichsalon.jpg" alt="modern home at night" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Stich Salon</h3>
                            <span class="cs-desc">This is a Salon's landing page.</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="assets/images/example-cons.jpg">
                        <source media="(min-width: 601px)" srcset="assets/images/example-cons.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/example-cons.jpg" alt="modern home" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">BuildRight Construction</h3>
                            <span class="cs-desc">A Construction website</span>
                        </div>
                        <picture class="cs-icon-wrapper">
                            <img class="cs-icon" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                                            alt="arrow" width="413" height="374" aria-hidden="true">
                        </picture>
                    </div>
                </a>
            </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1670">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="assets/images/samsnail.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Samantha Toscano
                        <span class="cs-job">Owner of Sam's Nail Couture</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Great Lakes Web Designs helped me rank #1 on Google. Love the site they made. Highly recommned!
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Spencer Lawnson
                        <span class="cs-job">Owner of Lawn Harmony</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Great service! Keshav also gives a helping hand with a lot of patience when you’re not sure. My website design is flawless.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>

                     
    {% include 'components/cta.html' %}
{% endblock %}